@import url("https://fonts.googleapis.com/css2?family=Climate+Crisis:YEAR@1979&display=swap");

:root {
  --fontOne: "Climate Crisis", YEAR, cursive;
  --fontTwo: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --fontThree:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: rgb(33, 39, 95);
  text-align: center;
  color: white;
}

h1 {
  margin-top: 20px;
  font-size: 30px;
  font-family: var(--fontTwo);
  font-weight: 700;
}

a {
  color: white;
  text-decoration: underline;
  font-weight: 600;
}
